<div class="container mt-5">
<div id="login">

  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="row">
      <div class="alert alert-danger text-center col-md-5" role="alert" *ngIf="!success">
        Invalid Username/ Password
      </div>
    </div>
    <div class="form-group row" *ngIf="!signIn">
      <label for="name" class="col-md-1 col-form-label">Name</label>
      <div class="col-md-4">
        <input type="text" class="form-control" id="name" name="name" ngModel>
      </div>
    </div>
    <div class="form-group row" *ngIf="!signIn">
      <label for="age" class="col-md-1 col-form-label">Age</label>
      <div class="col-md-4">
        <input type="number" class="form-control" id="age" name="age" min="6" max="100" ngModel>
      </div>
    </div>
      <div class="form-group row">
        <label for="email" class="col-md-1 col-form-label">Email</label>
        <div class="col-md-4">
          <input type="email" class="form-control" id="email" name="email" ngModel>
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-md-1 col-form-label">Password</label>
        <div class="col-md-4">
          <input type="password" class="form-control" id="password" name="password" ngModel>
        </div>
      </div>
      <div class="form-group row" *ngIf="!signIn">
        <label for="myfile" class="col-md-2 col-form-label">Select Profile Pic.</label>
        <div class="col-md-3">
          <input type="file" id="myfile" name="myfile" (change)=onFileselect($event)>
      </div>
    </div>
      <div class="form-group row">
        <div class="col-md-5">
            <button (click)="signUp()" type="button" class="m-3 btn btn-link">{{regLabel}}</button>
            <button type="submit" class="btn btn-primary">{{signInLabel}}</button>
      </div>
      </div>
</form>
</div>
</div>
