<div class="container text-center mt-5 row">
  <div class="col-md-10">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group row">
      <label for="description" class="col-form-label col-md-2">Task Name</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="description" name="description" ngModel>
      </div>
      <button type="submit" class="btn btn-primary col-md-1 btn-sm">Add Task</button>
    </div>
    </form>

    <div class="row mt-5">
        <div class="col-md-10 text-left mb-2">
          <select class="custom-select" (change)="search($event.target.value)">
            <option selected>Filter Tasks based on status</option>
            <option value="1">All Tasks</option>
            <option value="2">Completed Tasks</option>
            <option value="3">Pending Tasks</option>
          </select>
        </div>
        <div class="col-md-10">
           <table class="table table-hover">
             <thead>
                <th>Sl No.</th>
                <th>Description</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks;let i=index">
                  <td>{{i+1}}</td>
                  <td>{{task.description}}</td>
                  <td>{{task.completed}}</td>
                  <td><button type="button" class="btn btn-link text-success" (click)="editTask()">Edit</button></td>
                  <td><button type="button" class="btn btn-link text-danger" (click)="deleteTask(task._id)">Delete</button></td>
                  <td hidden>{{task._id}}</td>
                </tr>
            </tbody>
           </table>
        </div>
    </div>
  </div>
  <div class="col-md-2">
      <div>
        <img src="{{imageUrl}}" name="image">
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{user.name}}</li>
      <li class="list-group-item">Age - {{user.age}}</li>
    </ul>
    <div>
      <label for="myfile" class="col-form-label text-primary">Profile Pic.</label>
      <input type="file" id="myfile" name="myfile" (change)=onFileselect($event)>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" (click)="getPage('min')" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="getPage('0')">1</a></li>
      <li class="page-item"><a class="page-link" (click)="getPage('1')">2</a></li>
      <li class="page-item"><a class="page-link" (click)="getPage('2')">3</a></li>
      <li class="page-item">
        <a class="page-link" (click)="getPage('add')">Next</a>
      </li>
    </ul>
  </nav>
</div>
