
<div class="container">
  <div class="row m-5" style="height: 60vh">
  <div class="col-md-10 p-4">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group row">
      <label for="description" class="col-form-label col-md-2">Task Name</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="description" name="description" ngModel #description="ngModel" [ngModel]="desc" maxlength="50">
      </div>
      <button type="submit" class="btn btn-primary col-md-2 btn-sm">{{addLabel}}</button>
    </div>
    <div class=" form-group row" *ngIf="edit">
      <label for="description" class="col-form-label col-md-2">Status</label>
      <div class="col-md-6">
      <select class="custom-select" (change)="search($event.target.value)" ngModel name="completed" #completed="ngModel" [ngModel]="state">
        <option value="true">Complete</option>
        <option value="false">Pending</option>
      </select>
      </div>
    </div>
    <app-alert [message]="alertMsg" *ngIf="alertMsg" (close)="onHandleError()"></app-alert>
    </form>

    <div class="row mt-2">
        <div class="col-md-10 text-left mb-2">
          <select class="custom-select" (change)="search($event.target.value)">
            <option selected>Filter Tasks based on status</option>
            <option value="1">All Tasks</option>
            <option value="2">Completed Tasks</option>
            <option value="3">Pending Tasks</option>
          </select>
        </div>
        <div class="col-md-10">
           <table class="table table-hover table-condensed table-bordered">
             <thead>
                <th>Sl No.</th>
                <th>Description</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks;let i=index" class="{{task.completed === true ? 'table-success' : 'table-warning'}}">
                  <td>{{i+1+(skip*5)}}</td>
                  <td>{{task.description}}</td>
                  <td>{{task.completed === false ? 'Pending' : 'Complete'}}</td>
                  <td ><button type="button" class="btn btn-link text-success" (click)="editTask(task._id)">Edit</button></td>
                  <td><button type="button" class="btn btn-link text-danger" (click)="deleteTask(task._id)">Delete</button></td>
                  <td hidden>{{task._id}}</td>
                </tr>
            </tbody>
           </table>
        </div>
    </div>
  </div>
  <div class="col-md-2 p-1">
      <div>
        <img src="{{imageUrl}}" alt="image">
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{user.name}}</li>
      <li class="list-group-item">Age - {{user.age}}</li>
    </ul>
    <div>
      <label for="myfile" class="col-form-label text-primary">Profile Pic.</label>
      <input type="file" id="myfile" name="myfile" (change)=onFileselect($event)>
    </div>
  </div>
</div>
<nav aria-label="Page navigation example" class="p-2">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" (click)="getPage('min')">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" (click)="getPage('0')">1</a></li>
    <li class="page-item"><a class="page-link" (click)="getPage('1')">2</a></li>
    <li class="page-item"><a class="page-link" (click)="getPage('2')">3</a></li>
    <li class="page-item">
      <a class="page-link" (click)="getPage('add')">Next</a>
    </li>
  </ul>
</nav>
</div>



