<div class="container text-center mt-5">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group row">
      <label for="description" class="col-form-label col-md-2">Task Name</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="description" name="description" ngModel>
      </div>
      <button type="submit" class="btn btn-primary col-md-1 btn-sm">Add Task</button>
    </div>
    </form>

    <div class="row mt-5">
        <div class="col-md-10 text-left mb-2">
          <select class="custom-select" (change)="search($event.target.value)">
            <option selected>Filter Tasks based on status</option>
            <option value="1">All Tasks</option>
            <option value="2">Completed Tasks</option>
            <option value="3">Pending Tasks</option>
          </select>
        </div>
        <div class="col-md-10">
           <table class="table table-hover">
             <thead>
                <th>Sl No.</th>
                <th>Description</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks;let i=index">
                  <td>{{i+1}}</td>
                  <td>{{task.description}}</td>
                  <td>{{task.completed}}</td>
                  <td><button type="button" class="btn btn-link text-success" (click)="editTask()">Edit</button></td>
                  <td><button type="button" class="btn btn-link text-danger" (click)="deleteTask(task._id)">Delete</button></td>
                  <td hidden>{{task._id}}</td>
                </tr>
            </tbody>
           </table>
        </div>
    </div>
    <div class="form-group row">
      <label for="myfile" class="col-md-2 col-form-label">Select Profile Pic.</label>
      <div class="col-md-3">
        <input type="file" id="myfile" name="myfile" (change)=onFileselect($event)>
    </div>
</div>
